.loading{
	background-image: url( "../../../img/ajax-loader.gif");
	background-position: 50% 80%;
	background-repeat: no-repeat;
	width:10px;
}
.info-setting{
	background-color:white;
	color:black;
	border:0.25em solid #ddd;	
	font-size:100%;
	padding:1em;
	-moz-border-radius:1em;
	border-radius:1em; 
	font-family:helvetica;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
   font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;   
	width:520px;
}

.dialog-title{
	border-bottom:1px dotted grey; padding-top:0.5em; padding-bottom:1.5em; font-size:90%;
	text-align:center;
	font-size:13px;
}

.comment-part{
	margin-top:20px;
}
.comment-split-line{border-bottom:1px solid black; font-size:90%;}
.changed-data-set{margin-top:20px;}
#commentCancel{
	float:right;
	margin:5px 25px 0 0;
}

