.wrap, .wrap h2{
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
}
.message{
	border:1px solid #b0b4fa; 
	background-color:#dcddfa;
	width:97%;
	margin:20px 0 20px 0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	padding:10px; 
}
#settingstuff {
	float: left;
}
#setting_form{
	font-size:13px;
}
#workflow-setting {
	margin-top:10px;
}
.changed-data-set{
	margin:20px 0 0 250px;
}
#div_reminder_day{margin-top: 20px; opacity:0.5;}
.reminder_days{
   text-align:center;
}

.owf-sidebar {
  float: right;
}
#owf_settings_button_bar {
   margin-top: 10px;	
}
a.owf_about_link {
	padding:4px;
	display:block;
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:5px 50%;
	text-decoration:none;
	border:none;
}

a.owf_about_link:hover {
	border-bottom-width:1px;
}

.owf_fieldset {
	padding: 1em;
	font: 80%;
	border: 1px solid;
}

.owf_fieldset legend {
	font-weight:bold;
}